.loginForm-container {

}

.loginForm-container .form-group {
   border-width: 1px;
   border-radius: 10px;
}

.loginForm-container button {
  width: 100%;
  margin: 5px 0 5px 0;
}

.loginForm-container .alignleft {
  float: left;
}

.loginForm-container .alignright {
  float: right;
}

.loginForm-container .text-style {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  text-decoration-line: underline;
  color: #929292;
}

.loginForm-container .small {
  font-size: 14px !important;
}
